    <%- include('../partials/head.ejs') %>
<body>
    <%- include('../partials/nav.ejs')%>
    <div class="loginPage">
      <div class="loginContainer">
        <form class="loginForm" id="loginForm">
          <input name="email" placeholder="Email" class="input" type="email" required/>
          <input name="password" placeholder="Password" class="input" type="password" required/>
          <div id="loginError"></div>
          <button class="btn-primary">Log in</button>
        </form>
        <div style="text-align: left;">
          <p>Don't have an account?</p>
          <a href="/auth/signup" style="font-size: 18px;">Sign up</a>
        </div>

      </div>
    </div>
    <%- include('../partials/footer.ejs') %>
    <script src="/scripts/login.js">
    </script>
</body>
</html>