
    <%- include('../partials/head.ejs') %>
<body>
    <%- include('../partials/nav.ejs')%>
    <div class="signupPage">
      <form class="signupForm" id="signupForm">
        <input name="email" placeholder="Email" class="input" type="email" required/>
        <div id="emailError"></div>
        <input name="username" placeholder="Username" class="input" type="text" required/>
        <div id="usernameError"></div>
        <input name="password" placeholder="Password" class="input" type="password" required/>
        <div id="passwordError"></div>
        <button class="btn-primary">Sign up</button>
      </form>
    </div>
    <%- include('../partials/footer.ejs') %>
    <script src="/scripts/signup.js">
    </script>
</body>
</html>