    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs')%>
    <div class="aboutPage">
        <p style="text-align: center;">About Page.</p>

    </div>
    <%- include('./partials/footer.ejs') %>
    <script>

// const form = document.getElementById('form')


//  form.addEventListener('submit',async (e)=>{
//      e.preventDefault()
//      const images = document.querySelectorAll('input[type="file"]')
//      const formData = new FormData()
//      images.forEach((image)=>{
//         formData.append('images',image.files[0])
//      })

//      console.log(formData.getAll('images'))

//      try{
//          const res = await fetch('/blogs/upload_images',{
//              method:'POST',
//              body:formData,
//             //  headers:{
//             //      'Content-Type':"multipart/form-data"
//             //  }
//          })

//      }catch(err){
//          console.log(err)
//      }
//  })

    </script>
</body>
</html>