    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs')%>
    <div class="aboutPage">
        <p style="text-align: center;">About Page.</p>

    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>