    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs')%>
    <div class="createPage">
        <form action="/blogs" method="POST" id="addForm" enctype="multipart/form-data">
            <div id="firstStep">
                <p style="margin-bottom: 50px;">Add New Post</p>
                <input name="title" placeholder="Title" class="input" type="text" required id="title"/>
                <input name="destination" placeholder="Destination" class="input" type="text" required id="destination"/>
                <input name="days" placeholder="Days" class="input" type="number" required id="inputDays"/>
                <button class="btn-secondary" type="button" onclick="handleNext()">Next</button>
            </div>
            <div id="secondStepContainer">
                <div id="secondStep">
                </div>
                <label class="custom-image-input">Upload Photo
                    <i class="fa-regular fa-image fa-xl"></i>
                    <input name="images" type="file" id="imageInput" accept="image/png,image/jpeg" class="image-input"/>
                </label>
                <div id="imagePreviewContainer">
                    <img src="#" id="imagePreview" alt="imagePreview"/>
                </div>
                <textarea  name="notes" placeholder="Notes (optional)" class="notesTextarea"></textarea>
                <div style="display: flex; flex-direction: column; gap: 6px; align-items: end;">
                    <button onclick="handleBack()" class="btn-secondary" style="width: 50%;" type="button">
                        Back
                    </button>
                    <button class="btn-primary" type="submit" style="width: 50%;">Publish</button>
                </div>
            </div>
        </form>
    </div>
    <script>
        const form = document.getElementById('addForm')

        //preview image

        const imageInput = document.getElementById('imageInput')
        const imagePreview = document.getElementById('imagePreview')
        const imagePreviewContainer = document.getElementById('imagePreviewContainer')
        imageInput.addEventListener('change', function(event) {
            const file = event.target.files[0];
            const reader = new FileReader();
            if(file!==undefined){
                imagePreviewContainer.style.display='block'
                reader.addEventListener('load',()=>{
                imagePreview.src = reader.result;
              })
              reader.readAsDataURL(file);
            }else{
                imagePreviewContainer.style.display='none'
            }
        
        });

        // add new textarea
       function getTextarea(){
        const daysValue = form.days.value
        const daysArray = Array(parseInt(daysValue)).fill('')
            daysArray.map((day,index)=>{
            const textarea = document.createElement("textarea")
            textarea.className ='textarea'
            textarea.name='contents'
            textarea.required=true
            textarea.placeholder = `Day ${index+1}`
            document.getElementById("secondStep").appendChild(textarea)
            })
        }



       //next step
       function handleNext(){
        const titleValue = form.title.value
        const destinationValue = form.destination.value
        const daysValue = form.days.value
        const textarea = document.querySelectorAll(".textarea")
        if(titleValue.length>0 && destinationValue.length>0 && daysValue>0){
            document.getElementById('firstStep').style.display="none"
            document.getElementById('secondStepContainer').style.display="inline-flex"
            if(textarea.length===0){
                getTextarea()
            }else if(daysValue>textarea.length){
                const plusDays =  daysValue-textarea.length
                const newDaysArray = Array(parseInt(plusDays)).fill('')
                newDaysArray.map((day,index)=>{
                    const newTextarea = document.createElement("textarea")
                    newTextarea.className = 'textarea'
                    newTextarea.name = 'contents'
                    newTextarea.required = true;
                    newTextarea.placeholder = `Day ${parseInt(textarea.length)+index+1}`
                    document.getElementById("secondStep").appendChild(newTextarea)
                })
            }else if(daysValue<textarea.length){
                const minusDays = textarea.length - daysValue
                for(let i=1; i<=minusDays; i++){
                    document.getElementById("secondStep").removeChild(textarea[textarea.length-i])
                }
            }
            
        }

        const existingErrorDays = document.getElementById('errorDays')
        if(!existingErrorDays &&(daysValue<=0||daysValue.length==0)){
            const span = document.createElement("span")
            span.id = 'errorDays'
            span.innerText = 'Days are required and must be 1 or more.'
            document.getElementById('inputDays').insertAdjacentElement("afterend",span)
        }else{
            if(existingErrorDays){
                const span = document.getElementById('errorDays')
                span.remove()
            }
        }

        const existingErrorTitle = document.getElementById('errorTitle')
        if(!existingErrorTitle && titleValue.length===0){
            const span = document.createElement("span")
            span.id = 'errorTitle'
            span.innerText="Title is Required."
            document.getElementById('title').insertAdjacentElement("afterend",span)
        }else{
            if(existingErrorTitle){
                const span = document.getElementById('errorTitle')
                span.remove()
            }
        }

        const existingErrorDes = document.getElementById('errorDes')
        if(!existingErrorDes && destinationValue.length===0){
            const span = document.createElement("span")
            span.id = 'errorDes'
            span.innerText="Destination is Required."
            document.getElementById('destination').insertAdjacentElement("afterend",span)
        }else{
            if(existingErrorDes){
                const span = document.getElementById('errorDes')
                span.remove()
            }
        }
       }

       //back to previous step
       function handleBack(){
        document.getElementById('firstStep').style.display="inline-flex"
        document.getElementById('secondStepContainer').style.display="none"
       }


    </script>
    <%- include('./partials/footer.ejs') %>
</body>
</html>