@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Laila:wght@300;400;500;600;700&family=Short+Stack&display=swap');
body{
    margin: 0;
    padding: 0;
    font-family: "Balsamiq Sans", sans-serif;
    background-color: #ecfdf5;
    position: relative;
    min-height: 95vh;
    padding:0px 30px;
    padding-bottom: 60px;
    overflow-x: hidden;
    
}

a{
    text-decoration: none;
    color: inherit;
}
li {
    list-style-type: none;
}
p{
    font-size: 18px;
}

.subTitle{
    font-size: 15px;
    color: rgb(61, 61, 61);
}
/* navbar */

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    padding: 30px;
    border-radius: 20px;
}

nav ul{
    display: flex;
    align-items: center;
    gap: 13px;
}
.webNav{
    display: flex;
    align-items: center;
    gap: 13px;
}
.smNav{
    display: none;
}


.btn-auth{
    background-color: #10b981;
    color: white;
    padding: 10px;
    border-radius: 20px;
    font-size: 15px;
}

.btn-auth:hover{
    background-color:#6ee7b7;
}

.navTitle{
    font-weight: 600;
    font-size: 26px;
}


/* footer */
footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: dimgray;
}






/* homepage */

.homePage{
    padding:30px 0;
    margin: 0;
}

.blogCard{
    display: grid;
    grid-template-columns: repeat(2, 1fr);  
    row-gap: 50px;
    column-gap: 50px;
}

.blogCard a{
    display: flex;
    gap:10px;
    border-radius: 20px;
    background-color: white;
    overflow: hidden;
    height: 25vh;
    align-items: center;
    justify-content: space-between;
}
.blogText{
    width: 40%;
    padding: 20px;
}
.blogImage{
    width: 50%;
    height: 100%;
    object-fit: cover;
}

/* createblogpage */
.createPage{
    text-align: center;
}

#addForm{
    display: inline-flex;
    flex-direction: column;
    min-height: 50vh;
    justify-content: center;
    margin-top: 30px;
}

#firstStep{
    display: inline-flex;
    flex-direction: column;
    gap:13px;
    width: 300px;
    

}

#secondStepContainer{
    display: none;
    flex-direction: column;
    gap:13px;
    width: 500px;
}

#secondStep{
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 13px;
}

.input{
    padding:20px 10px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
}

.textarea, .newTextarea,.notesTextarea{
    height: 200px;
    resize: none;
    padding:20px 10px;
    border:none;
    border-radius: 10px;

}

.btn-primary, .btn-secondary{
    border:none;
    border-radius: 10px;
    background-color: #022c22;
    padding:13px;
    font-size: 16px;
    font-weight: 500;
    color: white;
    cursor: pointer;
}

.btn-primary:hover{
    background-color: #064e3b;
}

.btn-secondary{
    background-color: #047857;

}
.btn-secondary:hover{
    background-color: #059669;
}

#errorDays, #errorTitle, #errorDes{
    color: #e11d48;
    font-size: small;
}

.notes{
    border-top: 2px solid #064e3b;
}


#imagePreviewContainer{
    display: none;
}
#imagePreviewContainer,#editImageContainer{
    height:25vh;
    width: 25vh;
    border-radius: 10px;
    overflow: hidden;
}
#imagePreview,#editImage{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.custom-image-input{
    display: inline-block;
    cursor: pointer;
    border: 2px solid rgb(76, 76, 76);
    padding: 16px;
    border-radius: 10px;
    color:rgb(76, 76, 76);

}
.image-input{
    display: none;
}


/* details page */
.detailPage{
    display: inline-flex;
    width: 100%;
    justify-content: center;
}
.detailContainer{
    display: flex;
    flex-direction: column;
    width:1100px;    
    padding:30px;
    background-color: #ecfdf5;
    border-radius: 20px;
}

#newTextarea{
    height: 200px;
    resize: none;
    padding:20px 10px;
    border:none;
    border-radius: 10px;
}
#updateForm{
    display: none;
    flex-direction: column;
    gap:9px
}
#originalContents, #newContents, .contentsContainer{
    display: flex; 
    flex-direction: column; 
    gap: 9px;
}
/* auth page */

.signupPage, .loginPage{
    text-align: center;
}

.signupForm, .loginForm{
    display: inline-flex;
    flex-direction: column;
    gap: 13px;
    min-height: 50vh;
    width: 260px;
    justify-content: center;
}
.loginForm{
    min-height: auto;
}

.loginContainer{
    display: inline-flex;
    flex-direction: column;
    min-height: 50vh;
    justify-content: center;
    gap: 13px;
}

#emailError, #usernameError ,#passwordError, #loginError{
    font-size: 15px;
    color: #e11d48;
}

@media (max-width: 1200px) {
    .blogCard{
        display: flex;
        flex-direction: column;
    }

    .detailsPage{
        max-width: 90vw;
    }
    .webNav{
        display: none;
    }
    nav{
        padding: 30px 10px;
        
    }
    .smNav{
        display: flex;
        cursor: pointer;
    }

}
