@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Laila:wght@300;400;500;600;700&family=Short+Stack&display=swap');
body{
    margin: 0;
    font-family: "Balsamiq Sans", sans-serif;
    background-color: #ecfdf5;
    position: relative;
    min-height: 90vh;
    overflow-x: hidden;
}

.detailPage,.homePage,.createPage{
    padding:20px 30px;
}
a{
    text-decoration: none;
    color: inherit;
}
li {
    list-style-type: none;
}
p{
    font-size: 18px;
}

.subTitle{
    font-size: 15px;
    color: rgb(61, 61, 61);
}
/* navbar */

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    padding: 30px;
    border-radius: 20px;
}

.webNav{
    display: flex;
    align-items: center;
    gap: 13px;
}
.webNav-right{
    display: flex;
    align-items: center;
    gap: 13px;
}
.smNav{
    display: none;
}



.btn-auth{
    background-color: #10b981;
    color: white;
    padding: 10px;
    border-radius: 20px;
    font-size: 15px;
}

.btn-auth:hover{
    background-color:#6ee7b7;
}

.navTitle{
    font-weight: 600;
    font-size: 26px;
}


/* footer */
footer{
    position: absolute;
    bottom: -10vh;
    width: 100%;
    text-align: center;
    color: dimgray;
}






/* homepage */


.blogCard{
    display: grid;
    grid-template-columns: repeat(2, 1fr);  
    row-gap: 50px;
    column-gap: 50px;
}

.blogCard a{
    display: flex;
    gap:10px;
    border-radius: 20px;
    background-color: white;
    overflow: hidden;
    height: 25vh;
    align-items: center;
    justify-content: space-between;
}
.blogText{
    width: 40%;
    padding: 20px;
}
.blogImage{
    width: 50%;
    height: 100%;
    object-fit: cover;
    max-width: 100%; /* Prevent image from exceeding container width */
    max-height: 100%; /* Prevent image from exceeding container height */
}
.preloadImage{
    width: 50%;
    height: 100%;
    object-fit: cover;
}

/* createblogpage */
.createPage{
    text-align: center;
}

#addForm{
    margin-top: 30px;
    display: inline-flex;
    flex-direction: column;
    min-height: 50vh;
    justify-content: center;
    margin-bottom: 50px;

}

#firstStep{
    display: inline-flex;
    flex-direction: column;
    gap:13px;
    width: 300px;
    

}

#secondStepContainer{
    display: none;
    flex-direction: column;
    gap:13px;
    width: 500px;
}

#secondStep{
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 13px;
}

.input{
    padding:20px 10px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
}

.textarea, .newTextarea,.notesTextarea{
    height: 200px;
    resize: none;
    padding:20px 10px;
    border:none;
    border-radius: 10px;

}

.btn-primary, .btn-secondary,.btn-next{
    border:none;
    border-radius: 10px;
    background-color: #034032;
    padding:13px;
    font-size: 16px;
    font-weight: 500;
    color: white;
    cursor: pointer;
}

.btn-primary:hover, .btn-next:hover{
    background-color: #075b44;
}

.btn-secondary{
    background-color: #047857;

}
.btn-secondary:hover{
    background-color: #059669;
}

#errorDays, #errorTitle, #errorDes{
    color: #e11d48;
    font-size: small;
}

.notes{
    border-top: 2px solid #064e3b;
}


#imagePreviewContainer{
    display: none;
}
#imagePreviewContainer,#editImageContainer{
    height:25vh;
    width: 25vh;
    border-radius: 10px;
    overflow: hidden;
}
#imagePreview,.editImage{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.custom-image-input{
    display: inline-block;
    cursor: pointer;
    border: 2px solid rgb(76, 76, 76);
    padding: 16px;
    border-radius: 10px;
    color:rgb(76, 76, 76);

}
.image-input{
    display: none;
}


/* details page */
.detailPage{
    display: flex;
    justify-content: center;

}
.detailContainer{
    display: flex;
    flex-direction: column; 
    border-radius: 20px;
    padding: 10px;
    max-width: 1100px;
}

#newTextarea{
    height: 200px;
    resize: none;
    padding:20px 10px;
    border:none;
    border-radius: 10px;
}
#updateForm{
    display: none;
    flex-direction: column;
    gap:9px;
    width: 500px;
}
#originalContents, #newContents, .contentsContainer{
    display: flex; 
    flex-direction: column; 
    gap: 9px;
}
.btn-details{
    padding: 6px;
    cursor: pointer;
}

/* auth page */

.signupPage, .loginPage{
    text-align: center;
}

.signupForm, .loginForm{
    display: inline-flex;
    flex-direction: column;
    gap: 13px;
    min-height: 50vh;
    width: 260px;
    justify-content: center;
}
.loginForm{
    min-height: auto;
}

.loginContainer{
    display: inline-flex;
    flex-direction: column;
    min-height: 50vh;
    justify-content: center;
    gap: 13px;
}

#emailError, #usernameError ,#passwordError, #loginError{
    font-size: 15px;
    color: #e11d48;
}

@media (max-width: 1200px) {
    .blogCard{
        display: flex;
        flex-direction: column;
    }

}

@media(max-width:700px){
    .webNav{
        display: none;
    }
    .smNav{
        display: block;
        cursor: pointer;
    }
    body{
        margin-bottom: 100px;
        padding: 0;
    }
    .detailPage,.homePage,.createPage{
        padding:10px 20px;
    }
    #secondStepContainer,#updateForm{
        width: 80vw;
    }
    .blogText{
        margin: 0;
    }
    .blogText h3{
        margin: 0;
        font-size: 18px;
    }
    .blogText p{
        margin: 3px;
        font-size: 15px;
    }
    .navbar{
        margin: 0;
    }
    .smNavContents{
        display: none;
        position: absolute;
        right: 0;
        top: 0;
        height: 100vh;
        width: 100%;
    }
    .smNav-left{
        width: 50%;
        opacity: 0.5;
    }
    .smNav-right{
        position: relative;
        display: flex;
        width: 50%;
        flex-direction: column;
        background-color: white;
        align-items:end;
        padding:30px;
       
    }
    .smNav-right-contents{
        display: flex;
        flex-direction: column;
        gap: 50px;
        font-size: 18px;
    }
    .close-smNav{
        position: absolute;
        left: 0;
        top: 0;
        padding: 10px;
        cursor: pointer;


    }
}

@keyframes slideIn {
    from {width: 0;}
    to {width: 100%;}
    
}
@keyframes opacity {
    from {background-color: inherit;}
    to {background-color: black;}
    
}